{% extends 'layout.html.twig' %}
{% block title %}Nueva categoría - Sistema de Certificación de Salarios{% endblock %}
{% block categoria %}
    <li class="active">
        <a href="{{ path('categoria_index') }}"> <i class="fa fa-folder-open"></i> Categoría ocupacional</a>
        <ul class="nav">
            <li class="active"><a href="{{ path('categoria_new') }}"><i class="fa fa-plus"></i> Nueva categoría</a></li>
        </ul>
    </li>

{% endblock%}

 {% block content %}
     <div class="page-header">
         <h3 id="glyphicons">Nueva categoría</h3>
     </div>
     <div class="panel panel-default">
         <div class="panel-heading">Datos de la categoría</div>
         <div class="panel-body">
             <form class="form-horizontal" role="form" method="post" action="{{ path('categoria_new') }}">
                 <div class="form-group{% if form_errors(form.nombre) %} has-error{% endif %}">
                     <label class="col-sm-2 control-label col-lg-2">Nombre:</label>
                     <div class="col-lg-10">
                         {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'} }) }}
                         {% if form_errors(form.nombre) %}
                             <span class="help-block text-danger">
                                        {{ form_errors(form.nombre) }}
                                    </span>
                         {% endif %}
                     </div>
                     {{ form_row(form._token) }}

                 </div>
                 <div class="form-group">
                     <div class="col-lg-12 col-md-12">
                         <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i> Aceptar</button>
                         <a href="{{ path('categoria_index') }}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancelar</a>
                     </div>
                 </div>
             </form>

         </div>
     </div>
 {% endblock %}
