{% extends 'layout.html.twig' %}
{% block title %}Prenómina CUP del {{ prenomina.taller }} {{ prenomina.mes__toString }} {{ prenomina.anno }} - Sistema de Certificación de Salarios{% endblock %}
{% block css %}
    <link href="{{ asset('bundles/scs/plugins/spinner/bootstrap-spinner.css') }}" rel="stylesheet">
{% endblock %}
{% block prenomina %}
    <li class="active">
        <a href="{{ path('prenomina_index') }}"> <i class="fa  fa-dollar"></i> Prenóminas</a>
        <ul class="nav">
            <li ><a href="{{ path('prenomina_new') }}"><i class="fa fa-plus"></i> Generar nueva prenómina</a></li>
        </ul>
    </li>
{% endblock%}
 {% block content %}
     <div class="page-header">
         <h3 id="glyphicons"> Prenómina CUP del {{ prenomina.taller }} {{ prenomina.mes__toString }} {{ prenomina.anno }}</h3>
     </div>
     {% for mensaje in app.session.flashbag.get('success') %}
         <div class="alert alert-success fade in">
             <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
             {{ mensaje }}
         </div>
     {% endfor %}
     <div class="col-lg-12 col-md-12 text-right">
         <a href="{{ path('prenomina_cup_pdf', {'id': prenomina.id}) }}" class="btn btn-danger"><i class="fa fa-book"></i> Exportar a PDF</a>
         <a href="{{ path('prenomina_showcuc', {'id': prenomina.id}) }}" class="btn btn-info" ><i></i> Prenómina en CUC</a>
     </div>
     <div class="col-lg-12 col-md-12">
         <table class="table table-striped prenomina">
             <thead>
             <th>Trabajador</th>
             <th>Salario devengado</th>
             <th>Salario por resultado</th>
             <th>Penalización</th>
             <th>Índice de evaluación</th>
             <th>Vacaciones</th>
             <th>Total en CUP</th>
             </thead>
             <tbody>
             {% for trabajador in prenomina.prenominaTrabajador %}
                 <tr>
                     <td>{{ trabajador.trabajadores}}</td>
                     <td>{{ trabajador.salariodevengado | number_format(2,'.')}}</td>
                     <td>{{ trabajador.salarioresultado | number_format(2,'.')}}</td>
                     <td>{{ trabajador.penalizacion }}</td>
                     <td>{{ trabajador.indiceevaluacion | number_format(2,'.')}}</td>
                     <td>{{ trabajador.vacaciones | number_format(2,'.')}}</td>
                     <td>{{ trabajador.totalcobrarcup | number_format(2,'.')}}</td>
                 </tr>
             {% endfor %}

             </tbody>
         </table>
     </div>

 {% endblock %}
{% block js %}
    <script type="text/javascript" src="{{ asset('bundles/scs/plugins/spinner/jquery.spinner.min.js') }}"></script>
{% endblock  %}
