{% extends 'layout.html.twig' %}
{% block title %}Editar escala salarial {{ escala }}- Sistema de Certificación de Salarios{% endblock %}
{% block escala %}
    <li class="active">
        <a href="{{ path('escalas_index') }}"> <i class="fa fa-sitemap"></i> Escalas salariales</a>
        <ul class="nav">
            <li><a href="{{ path('escalas_new') }}"><i class="fa fa-plus"></i> Nueva escala</a></li>
        </ul>
    </li>
{% endblock%}

 {% block content %}
     <div class="page-header">
         <h3 id="glyphicons">Editar escala salarial {{ escala }}</h3>
     </div>
     <div class="panel panel-default">
         <div class="panel-heading">Datos de la escala</div>
         <div class="panel-body">
             <form class="form-horizontal" role="form" method="post" action="{{ path('escalas_edit', {'id': escala.id}) }}">
                 <div class="form-group{% if form_errors(edit_form.nombre) %} has-error{% endif %}">
                     <label class="col-sm-2 control-label col-lg-2">Nombre:</label>
                     <div class="col-lg-10">
                         {{ form_widget(edit_form.nombre, { 'attr': {'class': 'form-control'} }) }}
                         {% if form_errors(edit_form.nombre) %}
                             <span class="help-block text-danger">
                                        {{ form_errors(edit_form.nombre) }}
                                    </span>
                         {% endif %}
                     </div>
                     {{ form_row(edit_form._token) }}

                 </div>
                 <div class="form-group">
                     <div class="col-lg-12 col-md-12">
                         <button type="submit" class="btn btn-success"><i class="fa fa-check-square"></i> Aceptar</button>
                         <a href="{{ path('escalas_index') }}" class="btn btn-danger"><i class="fa fa-ban"></i> Cancelar</a>
                     </div>
                 </div>
             </form>

         </div>
     </div>
 {% endblock %}
